<header>
  <h2><%= appName %></h2>
  <nav>
    <a href="/">Home</a>
	<a href="/resources">Resources</a>
	<a href="/notes">Notes</a>

	<a href="/auth/login">Login</a>
	<a href="/auth/register">Register</a>

	<!-- <a href="/auth/logout">Logout</a> -->
  </nav>
  <hr>
</header>
